nav {
  background-color: #fff;
  position: sticky !important;
  top: 0;
  z-index: 999;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 12px;
}

.user__info h5 {
  margin: 0;
}

.user__info p {
  margin: 0;
}

.user img {
  height: 60px;
  width: 55px;
  border-radius: 8px;
  object-fit: cover;
}

.landing__header {
  display: flex;
}

.landing__header button {
  width: 150px;
  margin: 12px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #5f2eea;
  color: #5f2eea;
}

.landing__header button:nth-child(2) {
  background-color: #5f2eea;
  color: #fff;
}

.landing__header button:hover {
  border: 2px solid red;
  /* color: black; */
}
