.form__button {
  margin: 32px 0;
}

.form__button button {
  width: 100%;
  background-color: #dadada;
  color: #888;
  padding: 16px;
  border-radius: 12px;
  border: none;
}

.layout__login--form {
  padding: 50px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.layout__login--form h2 {
  color: #3a3d42;
  font-size: 24px;
  font-weight: 700;
}

.layout__login--form p {
  color: rgba(58, 61, 66, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.layout__login--form a {
  text-decoration: none;
  color: #3a3d42;
}

.forgot__page {
  display: flex;
  justify-content: flex-end;
}

.register__page {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.layout__login--form p a {
  color: #6379f4 !important;
}

.layout__login--form form {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.layout__login--form input {
  border: none;
  border-bottom: 1px solid rgba(169, 169, 169, 0.6);
  margin: 20px 0;
  padding: 12px 32px;
  /* text-align: center; */
}

.login__mail {
  background: url("../img/icon/mail.svg") no-repeat left;
  padding-left: 25px;
  background-size: 20px;
}

.login__lock {
  background: url("../img/icon/lock.svg") no-repeat left;
  padding-left: 25px;
  background-size: 20px;
}

.login__user {
  background: url("../img/icon/user.svg") no-repeat left;
  padding-left: 25px;
  background-size: 20px;
}

.layout__pin--form input {
  border: none;
  border: 1px solid rgba(169, 169, 169, 0.6);
  margin: 20px 0;
  padding: 12px 24px;
  border-radius: 8px;
}

.layout__login--form img {
  padding: 20px 0 !important;
  display: flex !important;
  align-items: flex-start !important;
}

.pin--form {
  padding: 50px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pin--form h2 {
  color: #3a3d42;
  font-size: 24px;
  font-weight: 700;
}

.pin--form p {
  color: rgba(58, 61, 66, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.pin--form input {
  border: 1px solid rgba(169, 169, 169, 0.6);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  width: 100%;
  font-size: 24px;
}
