.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  outline: none;
  border: none;
  background: rgba(58, 61, 66, 0.1);
  border-radius: 0 12px 12px 0;
  width: 100%;
  padding: 16px 32px;
}

.search--icon {
  background: url("../img/icon/search.svg") no-repeat left !important;
  padding-left: 25px;
  background-size: 20px;
  background-color: red;
}
