.side {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  border-radius: 24px;
  padding: 16px;
  height: 80vh;
  position: sticky !important;
  top: 110px;
}

.side__top {
  height: 100%;
}

.sidebar {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.sidebar h4 {
  margin: 0 0 0 12px;
  font-size: 18px;
  color: #3a3d42cc;
  font-weight: 400;
}

.sidebar h4:hover {
  color: blue;
  cursor: pointer;
}

.modal-body p {
  font-size: 16px;
  color: rgba(58, 61, 66, 0.6);
}

.modal-body input {
  width: 100%;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  padding: 12px;
}

.modal-footer button {
  padding: 12px 32px;
  border-radius: 8px;
}
